<h4>Make Comment</h4>

<form action="<%= goal_comments_url %>" method="POST">
  <%= auth_token %>
  <label for="body">Body</label>
  <input type="text" name="goal_comment[body]" id="body">

  <input type="hidden" name="goal_comment[goal_id]" value="<%= goal.id %>">

  <input type="submit" value="Submit Comment">
</form>
